{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("neesh\\fieldtranslate\\assetbundles\\fieldtranslate\\FieldTranslateAsset") %}
{% do view.registerAssetBundle("neesh\\fieldtranslate\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Field Translate - Glossary" %}
{% set selectedSubnavItem = 'glossary' %}

{# The URL to this plugin's base CP section
{% set pluginCpUrl = url('field-translate') %} #}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@neesh/fieldtranslate/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set fullPageForm = true %}

	{% block content %}
	{{ actionInput('field-translate/default/save-glossary') }}
	{% set glossaryContent = craft.translate.getGlossaryContent() %}

	{{forms.hidden({
        name: 'cols',
        value: glossaryContent['headers']
    })}}
{{ forms.editableTableField({
    label: 'Glossary',
    instructions: 'Enter some setting here.',
    id: 'glossary',
    name: 'glossary',
    cols: glossaryContent['headers'],
    rows: glossaryContent['rows'],
   })
  
}}
	<!-- ... -->
{% endblock %}
