{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Field Translate plugin for Craft CMS 3.x
 *
 * Field Translate index.twig
 *
 * @author    neeshstudio
 * @copyright Copyright (c) 2021 neeshstudio
 * @link      https://neesh.de
 * @package   FieldTranslate
 * @since     0.1.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("neesh\\fieldtranslate\\assetbundles\\fieldtranslate\\FieldTranslateAsset") %}
{% do view.registerAssetBundle("neesh\\fieldtranslate\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Field Translate" %}
{% set selectedSubnavItem = 'translate' %}


{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('field-translate') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@neesh/fieldtranslate/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
	<div class="buttons"> <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('field-translate') }}</a>
</div>
{% endset %}


{# The content of the CP Section#}
{% set content %}

{# <h2>{{ "Index CP Section body goes here"|t('field-translate') }}</h2>
<img src="{{ iconUrl }}" height="64" width="64"/>
<p class="textline"></p> #}

<form
	action="/admin/field-translate/request-translations">
	{# TODO		* add assets #}

	<h2>Setup</h2>

	<label for="sourceSite">Choose a Source Site:</label>
	<br/>
	{# {{dump(craft.app.sites.allSites)}} #}
	<div class="select">
		<select name="sourceSite" id="sourceSite" class="fieldtoggle">
			{% for site in craft.app.sites.allSites %}

				<option value="{{site.handle}}">{{site.name}}
					-
					{{site.language}}</option>
			{% endfor %}
		</select>
	</div>
	<br/>
	<label for="targetSite">Choose target sites:</label>
	<br/>
	<div>
		{{forms.checkboxGroupField({
			name: 'targetSites',
			id: 'targetSites',
			options: craft.app.sites.allSites|map(site => {value: site.handle, label: site.name ~ '-' ~ site.language})
		})}}
	{# <select multiple name="targetSites[]" id="targetSites[]" class="fieldtoggle">
																							{% for site in craft.app.sites.allSites %}
																				
																								<option value="{{site.handle}}">{{site.name}}
																									-
																									{{site.language}}</option>
																							{% endfor %} #}
		{# </select> #}
	</div>
	<br/>

	<br/>
	<h2>Content</h2>
	<h3>Entries</h3>

	{% for section in craft.app.sections.allSections %}
		<section>

			<details>
				<summary>
					<b>{{section.name}}</b>
				</summary>
				<div>
					<input type="checkbox" class="{{section.handle}} select-all" name="select-all"/>
					<i>Select All</i>

					<table style="width:100%" class="data fullwidth">
						<tr>
							<th>Translate</th>
							<th>Title</th>
							<th>Latest Update</th>
						</tr>


						{% for entry in craft.entries().orderBy('dateUpdated desc').section(section.handle).all() %}
							<tr>
								<td>
									<input class="{{section.handle}} entry-checkbox" type="checkbox" name="entryIds[]" id="{{entry.id}}" value="{{entry.id}}">
								</td>
								<td>
									<label for="{{entry.id}}">{{entry.title}}</label>
								</td>
								<td>
									{{entry.dateUpdated|date("d/m/Y")}}
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</details>
		</section>
	{% endfor %}

	<h3>Categories</h3>
	{% for categoryGroup in craft.app.categories.allGroups %}
		<section>

			<details>
				<summary>
					<b>{{categoryGroup.name}}</b>
				</summary>
				<div>
					<input type="checkbox" class="{{categoryGroup.handle}} select-all" name="select-all"/>
					<i>Select All</i>
					<table style="width:100%" class="data fullwidth">
						<tr>
							<th>Translate</th>
							<th>Title</th>
							<th>Latest Update</th>
						</tr>
						{% for entry in craft.categories().orderBy('dateUpdated desc').group(categoryGroup.handle).all() %}
							<tr>
								<td>
									<input class="{{categoryGroup.handle}} entry-checkbox" type="checkbox" name="categoryIds[]" id="{{entry.id}}" value="{{entry.id}}">
								</td>
								<td>
									<label for="{{entry.id}}">{{entry.title}}</label>
								</td>
								<td>
									{{entry.dateUpdated|date("d/m/Y")}}
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</details>
		</section>

	{% endfor %}
	<details>
		<summary>
			<b>Assets</b>
		</summary>
		<div>
			<input type="checkbox" class="assets select-all" name="select-all"/>
			<i>Select All</i>
			<table style="width:100%" class="data fullwidth">
				<tr>
					<th>Translate</th>
					<th>Title</th>
					<th>Latest Update</th>
				</tr>
				{% set targetVolume = craft.app.volumes.getVolumeByHandle("images") %}
				{% for asset in craft.assets.volumeId(targetVolume.id).all()  %}

					<tr>
						<td>
							<input class="assets entry-checkbox" type="checkbox" name="assetIds[]" id="{{asset.id}}" value="{{asset.id}}">
						</td>
						<td>
							<label for="{{asset.id}}">{{asset.title}}</label>
						</td>
						<td>
							{{asset.dateUpdated|date("d/m/Y")}}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</details>
	<section>
		<h3>Globals</h3>
		<td>
			<input class="global-checkbox" type="checkbox" name="includeGlobals" id="globals">
		</td>
		<td>
			<label for="globals">Translate globals (menus)</label>
		</td>
	</section>
	<br/>
	<button class="btn submit" type="submit" name="submit">Translate selected items</button>
</form>
{% endset %}{% css %}.select-all {
			margin: 12px;
			margin-bottom: 0;
		}{% endcss %}{% js %}document.addEventListener("DOMContentLoaded", function() {
					 
		const selectAllInputs = document.querySelectorAll(".select-all");
		console.log(selectAllInputs);
		selectAllInputs.forEach(input => {
			console.log(input);
			console.log("registering eventlistener");
			input.addEventListener("change", (ev) => {
				// console.log(ev);
				const allEntryInputs = document.querySelectorAll(`input.entry-checkbox.${input.classList[0]}`);
				allEntryInputs.forEach(entryInput => {
					entryInput.checked = input.checked;
						})
	
					});
				})
			});			
		var checkedEntries = [];
												
		function validateSelection(ev) {
			console.log(ev);
			let checkboxes = document.getElementsByName("entryIds");
			let numberOfCheckedItems = 0;
			for (var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].checked) numberOfCheckedItems++;
			// if(checkboxes)
			}
			if (numberOfCheckedItems < 1) {
			alert("you need to select at least one");
			return false;
			}
		}{% endjs %}
