{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Field Translate plugin for Craft CMS 3.x
 *
 * Field Translate Settings.twig
 *
 * @author    neeshstudio
 * @copyright Copyright (c) 2021 neeshstudio
 * @link      https://neesh.de
 * @package   FieldTranslate
 * @since     0.1.0
 */
#}
{% import "_includes/forms" as forms %}
{% do view.registerAssetBundle("neesh\\fieldtranslate\\assetbundles\\fieldtranslate\\FieldTranslateAsset") %}
{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
{{ forms.textareaField({
    label: 'Google Translate Keys',
    instructions: 'Enter some setting here.',
    id: 'gtKeys',
    name: 'gtKeys',
    class: 'code ltr',
    rows: 10,
    value: settings['gtKeys']})
}}

{{ forms.checkboxField({
    label: 'Use Glossary',
    instructions: 'Enter some setting here.',
    id: 'useGlossary',
    name: 'useGlossary',
    checked: settings.useGlossary,
    
    })
}}
{{ forms.textField({
    label: 'Google Translate Glossary Id',
    instructions: 'Enter some setting here.',
    id: 'glossaryId',
    name: 'glossaryId',
    value: settings['glossaryId']})
}}
{{ forms.checkboxField({
    label: 'Ignore Case',
    instructions: 'Enter some setting here.',
    id: 'ignoreCase',
    name: 'ignoreCase',
    checked: settings['ignoreCase']})
}}
{# <h3>
Registered Dictionaries
</h3>
	<ul>
		{% for glossary in glossaries %}
			<li>
			{{glossary.getName()}}
			-
		{{glossary.getInputConfig().getGcsSource().getInputUri()}}
	</li>
{% endfor %}
</ul> #}


{# {{ forms.elementSelectField({
    label: "Glossar",
    id: 'selectedGlossary', 
    name: 'selectedGlossary',
    elementType: 'craft\\elements\\Asset',
   selectionLabel: "Choose"|t('app'),
     criteria: {
        
    },
    limit: 1,
   elements: settings['selectedGlossary'], 
 }) }} #}
