{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("neesh\\fieldtranslate\\assetbundles\\fieldtranslate\\FieldTranslateAsset") %}
{% do view.registerAssetBundle("neesh\\fieldtranslate\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Field Translate" %}
{% set selectedSubnavItem = 'translate' %}


{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('field-translate') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@neesh/fieldtranslate/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}
{% block content %}

	{% if (errors|length > 0 ) %}
		<h1>Warning, something went wrong, the following errors occured:</h1>
		{% for error in errors %}
			<p>{{error}}</p>
		{% endfor %}
	{% else %}
		<h1>Success! All selected items were translated:</h1>

		<table class="editable">
			<thead>
				<tr>
					<th class="text-cell">Original
					</th>
					<th></th>
					<th class="text-cell">
						Translation
					</th>
				</tr>
			</thead>
			<tbody>
				{% for result in translationResults %}
					<tr>
						<td>{{result[0]}}</td>
						<td>{{result[1]}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endif %}
{% endblock %}


{% css %}
.disabled {
		opacity: 1 !important;
	}
{% endcss %}
