{% if entry ?? null %}

	{% set section = element.getSection() %}
	{% set entryTypes = section.getEntryTypes() %}

	{% set label = 'Translate Entry'|t('field-translate') %}
	{% set actualCurrentSite = craft.app.sites.getSiteById(entry.siteId) %}

	<div
		class="data" style="padding-top:20px;padding-bottom:10px;">

		{# visible values #}
		<label for="targetSite">Translate to:</label>
		<select name="targetSite" id="targetSite">
			{% for site in craft.app.sites.allSites %}
				{% if site.id != entry.siteId %}
					<option value="{{site.handle}}">{{site.name}}
						-
						{{site.language}}</option>
				{% endif %}
			{% endfor %}
		</select>


		<br/>
		<button class="btn" id="translate-button">Translate</button>
	</div>

	<!-- parse-ignore-start -->
	<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", () => {
		const button = document.querySelector("button#translate-button");
		button.addEventListener("click", translateCurrentEntry);
	})

	async function translateCurrentEntry(ev) {
		ev.stopPropagation();
		ev.preventDefault();
		// await fetch(getActionURL());
		console.log("change location");
		location.assign(getActionURL());
	}

	function getSelectedTargetSite() {
		const e = document.querySelector("select#targetSite");
		const result = e.options[e.selectedIndex].value;
		return result;
	}

	function getActionURL() {
		let sourceSiteHandle = {{ craft.app.sites.getSiteById(entry.siteId).handle|json_encode()|raw }};
		const entryId = {{ entry.id|json_encode()|raw }};
		return "/admin/field-translate/request-translations?" + `sourceSite=${sourceSiteHandle}&targetSite=${getSelectedTargetSite()}&entryIds[]=${entryId}`;
	}
	</script>
<!-- parse-ignore-end -->

{% endif %}
